.image {
    position: fixed;
    bottom: 200px;
    right: 400px;
    width: 35%;
  }

.body{
  background-image: linear-gradient(to right, orange, red, blue, green, black );
}

.button2{
  position: fixed;
  bottom: 500px;
  right: 500px;
  width: 200px;
  height: 50px;
  font-size: 20px;
  background-image: linear-gradient(to right, cyan, blue, darkblue);
}

@keyframes lessgo {
  0%   {left:0px; top:0px;}
  25%  {left:1200px; top:0px;}
  50%  {left:1200px; top:600px;}
  75%  {left:0px; top:600px;}
  100% {left:0px; top:0px;}
}
.lessgo {
  width: 200px;
  height: 100px;
  position: fixed;
  background-color: white;

  border-color: blueviolet;
  border-radius: 50%;

  animation-name: lessgo;
  animation-duration: 0.0002s;
  animation-iteration-count: infinite;
  visibility: hidden ;
}

@keyframes lessgo2 {
  0%   {left: 1200px;; top:0;}
  25%  {left:1200px; top:600px;}
  50%  {left:0px; top:600px;}
  75%  {left:0px; top:0px;}
  100% {left:1200px; top:0px;}
}
.lessgo2 {
  width: 200px;
  height: 100px;
  position: fixed;
  background-color: white;

  border-color: blueviolet;
  border-radius: 50%;

  animation-name: lessgo2;
  animation-duration: 0.0002s;
  animation-iteration-count: infinite;
  visibility: hidden ;
}

@keyframes lessgo3 {
  0%   {left:1200px; top:600px;}
  25%  {left:0px; top:600px;}
  50%  {left:0px; top:0px;}
  75%  {left:1200px; top:0px;}
  100% {left:1200px; top:600px;}
}
.lessgo3 {
  width: 200px;
  height: 100px;
  position: fixed;
  background-color: white;

  border-color: blueviolet;
  border-radius: 50%;

  animation-name: lessgo3;
  animation-duration: 0.0002s;
  animation-iteration-count: infinite;
  visibility: hidden ;
}

@keyframes lessgo4 {
  0%   {left:0px; top:600px;}
  25%  {left:0px; top:0px;}
  50%  {left:1200px; top: 0px;}
  75%  {left:1200px; top:600px;}
  100% {left:0px; top:600px;}
}
.lessgo4 {
  width: 200px;
  height: 100px;
  position: fixed;
  background-color: white;

  border-color: blueviolet;
  border-radius: 50%;

  animation-name: lessgo4;
  animation-duration: 0.0002s;
  animation-iteration-count: infinite;
  visibility: hidden ;
}
.sheesh {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.box {
  transition: 
    width      0.5s,
    background 0.5s 0.5s;
}

.box:hover {
  width: 300px;
  background: linear-gradient(to right, orange, red, blue, green, black );
  color:white;
  font-size: x-large;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: bold;
}
